<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="author" content="GaryWang">
	<meta name='renderer' content='webkit'>
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' >
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<title>收藏夹</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../collect/css/element-ui@2.15.13.css">
	<link rel="stylesheet" href="../collect/css/basic.css" />
</head>
<body>

	<div id="app" class="font-google">
		<el-container>
			<el-aside width="200px">
				<div class="logo flex">
					<i class="el-icon-cpu m-r-10"></i>
					示例列表
				</div>
				<!-- <el-menu>
					<el-menu-item v-for="(v,i) in collectList" :key="i" :tabindex="i">
						<div class="flex flex-jus-start flex-item-center p-l-20" @click="move(v.id)">
							<i class="el-icon-setting"></i>
							
						</div>
					</el-menu-item>
				</el-menu> -->
			</el-aside>
			<el-container>
				<el-header>
					<i class="el-icon-s-operation f24"></i>
				</el-header>
				<main class="el-main" ref="main">
					<ul>
						<li style="display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;">
							<a :href="item.url" class="link" v-for="(item,i) in collectList" :key="i" :tabindex="i" target="_blank">
								<div>{{item.name}}</div>
								<p>{{item.info || "暂无"}}</p>
								<i class="el-icon-link"></i>
							</a>
						</li>
					</ul>
				</main>
				<el-footer><a href="/">blog.wdtwo.com</a></el-footer>
			</el-container>
		</el-container>
	</div>

	<script src="../collect/js/vue.js"></script>
    <script src="../collect/js/element-ui@2.15.13.js"></script>
	<script src="../collect/js/axios.min.js"></script>
	<script>
		let obj = [
			{
				"name": "韩文加密",
				"info":"将文本信息加密为韩文",
				"url": "/static/plugin/hwencode.html"
			},
			{
				"name": "复利计算器",
				"url": "/static/plugin/compound_interest.html"
			},
			{
				"name": "多dns生成器",
				"url": "/static/plugin/cdn.html"
			},
			{
				"name": "IP段取ip",
				"info":"在一个ip段中获取收尾和中间的ip",
				"url": "/static/plugin/ip.html"
			},
			{
				"name": "随机密码",
				"info":"随机密码",
				"url": "/static/plugin/password.html"
			},
			{
				"name": "随机生成uuid",
				"info":"随机生成uuid",
				"url": "/static/plugin/randomuuid.html"
			},
			{
				"name": "图片化打包",
				"info":"把文字或程序加密到图片中",
				"url": "/static/plugin/mkdir.html"
			},
			{
				"name": "无影坦克",
				"info":"把文字信息加密到图片中",
				"url": "/static/plugin/wytk.html"
			},
			{
				"name": "无影工厂",
				"info":"把文字信息加密到图片中",
				"url": "/static/plugin/wygc.html"
			},
			{
				"name": "机选彩票号码",
				"info":"双色球，大乐透",
				"url": "/static/plugin/彩票机选.html"
			},
			{
				"name": "loadings",
				"info":"loadings demo",
				"url": "/static/animation/loading_animation.html"
			}
		]
			
		var app = new Vue({
			el:'#app',
			data:{
				title     : '示例列表',
				collectList	  : [""]
			},
			created(){
				obj.forEach(element => {
					element.id = `id${parseInt(Math.random()*999999)}`
				});
				this.collectList = obj
			},
			methods:{
				//事件
				Message(){
					console.log('message')
				},
				move(id){
					this.$refs['main'].scrollTop = this.$refs[id][0]['offsetTop']-70
				}
			}
		})

	</script>
</body>
</html>